<ion-view class="evento" cache-view="false">
  <ion-content scroll="false">
    <div class="col text-center">
      <p></p>
      Ingresa el código del evento para poder acceder a la información
      <p></p>
    </div>
    <form class="form evento" name="eventoForm">
      <div class="list">
        <label class="item item-input">
          <div ng-show="preguntaForm.pregunta.$dirty &amp;&amp; preguntaForm.pregunta.$error.required">
            Tienes que ingresar un código
          </div>
          <input type="text" ng-minlength=5 ng-maxlength=5 ng-model="formData.codigo" placeholder="Introduce código" required>
        </label>
        <button class="button button-outline button-block button-assertive" type="submit"  id="submit-btn" ng-disabled="eventoForm.$invalid" ng-click="sendCode()">Ingresar</button>
        </div>
    </form>
  </ion-content>
</ion-view>
