<ion-view view-title="Cerrar sesión">
  <ion-content class="background2" scroll="false">

    <!--<h4 class="title" style="text-align:center"> Esperamos tenerte pronto de vuelta. </h4>-->

    <!--<button class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Salir</button>-->

    <div  class="row">
      <div align="center" class="col text-center">
        <button class="button button button-assertive" ng-click="showLogOutMenu()">Salir</button>
      </div>
    </div>
    

    <!--  style="vertical-align=middle"  <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
        Salir
    </a>-->
  </ion-content>
</ion-view>