<ion-view view-title="Calendario de eventos">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/Icon.png">
          <h2>CanCham Day</h2>
          <p>Abril 27, 2017</p>
      </div>
      <div class="item item-body">
          <p>
          El evento más importante de México. Ciudad de México, Hotel Hyatt.
          </p>
      </div>
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer Toolbar</ion-title>
    </ion-toolbar>
  </ion-footer>
  
</ion-view>
