<ion-view view-title="Repositorio">
  	<ion-content scroll="true">
	 	<!--<div  class="row">
		  <div align="center" class="col text-center">
		    <button class="button button button-assertive" ng-click="docs()">doc</button>
		  </div>
		</div>-->
	  	<ion-list>
			<!--<ion-item href="http://assets.mheducation.es/bcv/guide/capitulo/8448166981.pdf"> 
				var ref = cordova.InAppBrowser.open('http://apache.org', '_blank', 'location=yes');
			</ion-item>-->
			<ion-item onclick="window.open('http://www.cic.gc.ca/english/pdf/pub/workbook-national.pdf', 
											'_blank', 'location=no');">
			    Planning to work in Canada?.pdf
			</ion-item>
			<ion-item onclick="window.open('http://www.cptm.com.mx/work/sites/CPTM/resources/LocalContent/6589/4/Guia_basica_MEXICO.pdf', '_blank', 'location=no');">
				Guía básica México.pdf
			</ion-item>
			<ion-item onclick="window.open('http://sitios.itesm.mx/va/reglamentos/reglamento_servicio_social.pdf', 
											'_blank', 'location=no');">
				Reglamento Servicio Social Tec.pdf
			</ion-item>
			<ion-item onclick="window.open('https://admin-canchammx-aileennag.c9users.io/pdf', 
											'_blank', 'location=no');"> 
				Propuesta Tec-CanCham.pdf
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>











